@font-face {
  font-family: "Ghoulish";
  src: url(/ghoulish.regular.ttf);
}

header {
  width: 100%;
  background-color: black;
  font-family: "Ghoulish";
  color: red;
  font-size: 3rem;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

header p {
  padding-left: 3rem;
  font-family: "Bahnschrift", sans-serif;
  font-size: 1rem;
  color: red;
  font-style: italic;
}

#circle-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 180px;
  height: 180px;
  margin-right: 2rem;
}

#dollheads {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  padding-left: 2rem;
  margin: 1rem 0;
}

main {
  background-image: linear-gradient(to bottom, red, white 110%);
}

#recommended {
  display: flex;
  justify-content: center;
  font-family: "Ghoulish";
  color: white;
  font-size: 2rem;
}

section {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

#poster {
  margin-right: 1rem;
  max-width: 350px;
  border: 4px solid red;
}

#title-synopsis {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: space-evenly;
}

#title {
  display: flex;
  justify-content: center;
  font-family: "Ghoulish";
  color: red;
  font-size: 2.5rem;
  border: 2px solid black;
  background-color: black;
  margin: 0;
}

#synopsis {
  font-family: "Bahnschrift", sans-serif;
  font-size: 1rem;
  color: black;
  padding: 1rem;
  border: 4px solid red;
  background-color: white;
}

#button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

button {
  background-color: red;
  font-family: "Ghoulish";
  color: black;
  font-size: 2rem;
  margin: 0;
  padding: 1.5rem 3rem;
  border-radius: 15px;
  transition-duration: 0.4s;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: green;
}

footer {
  background-color: black;
  color: red;
  font-family: "Ghoulish";
  font-size: 1rem;
  padding: 1rem;
  text-align: right;
}

/* CSS loader animation disguises the brief transition between the stock "no results" content and the user's selection */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid red;
  border-bottom: 16px solid red;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#loaderDiv {
  display: none;
}
